@page "/collectors/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Recogedor</h3>

<CollectorForm @ref="collectorForm" Collector="collector" OnValidSubmit="Create" ReturnAction="Return" />

@code {


    private Collector collector = new();
    private CollectorForm? collectorForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/collectors", collector);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            collectorForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("collectors");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("collectors");
    }
}
