@page "/collectors"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


<h3>Recogedor</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/collectors/create">Nuevo recogedor</a>
</div>

<GenericList MyList="Collectors">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Recogedor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var collector in Collectors!)
                {
                    <tr>
                        <td>
                            <a href="/collectors/edit/@collector.Id" class="btn btn-warning"><i class="oi oi-pencil" />Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(collector))><i class="oi oi-trash" />Borrar</button>

                        </td>
                        <td>
                            @collector.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Collector>? Collectors { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Collector>>("api/collectors");
        Collectors = responseHppt.Response!;
    }

    private async Task DeleteAsync(Collector collector)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/collectors/{collector.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
