@page "/collectors/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar recogedor</h3>

@if (collector is null)
{
    <p>Cargando...</p>
}
else
{
    <CollectorForm @ref="collectorForm" Collector="collector" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Collector? collector;
    private CollectorForm? collectorForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Collector>($"api/collectors/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("collectors");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            collector = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/collectors", collector);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            collectorForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("collectors");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("collectors");
    }
}
